
body{
    margin:10px;
}

#products ~ p {
    color: orange;
}

article :last-child{
font-weight:bold;
}

ul li:nth-child(odd){
color:pink;
}

a:visited, a:link{
    color:blue;
}

a:hover, a:focus{
    color:deeppink;
}

p::first-letter{
    font-size:140%;
    font=weight:bold;
}

p::first-line{
    font-style:italic;
}

::selection{
    background-color:pink;
}

p::before{
    content:'...';
    display:block;
}

p::after{
    content:'...'
}

h1{
    color:blue;
}

.highlight{
    color:red;
}

#products{
    color:green;
}
#products{
    color:brown;
}

.art #products{
    color:blue;
}
.box{
    width:200px;
    height:200px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(245,198,5,0.7707457983193278) 47%, rgba(0,212,255,1) 100%);
border:10px dashed black;
border-width: 10px 20px 10px ;
border-radius: 100%;
}